@import "nib"
@import "variables"

html, body
  margin 0
  padding 0
  height 100%
  min-width 320px
  overflow hidden
body
  width 100%
  height 100%
  user-select none
  //border-top 20px solid white()
  display -webkit-box
  -webkit-box-orient vertical
  -webkit-box-align stretch
  -webkit-box-flex 1
  &:after
    content ""
    //background white()
    height 20px
    position absolute
    top 0
    right 0
    left 0
    z-index 100
  avenir()
*
  webkit-user-drag none
  box-sizing border-box

.clickable
  //transform translate3d(0,0,0)
  //transition opacity 100ms ease-in-out, transform 100ms ease-in-out
[data-state]
  transition opacity 100ms ease-in-out, transform 100ms ease-in-out
[data-state="focused"]
  //background red
  opacity 0.8
  transform scale3d(1,1,1)
[data-state="blurred"]
  //background blue
  opacity 0.2
  transform scale3d(0.8,0.8,0.8)
[data-state="hidden"]
  opacity 0.1
  transform scale3d(0.4,0.4,0.4)

.firstPane
  display flex
  webkit-box-orient vertical
  webkit-box-align stretch
  //-webkit-box-flex 1
  flex 1
  overflow auto
  //margin-bottom -1px
  position relative
  z-index 1
  pointer-events none
.secondPane
  display flex
  webkit-box-orient vertical
  webkit-box-align stretch
  //-webkit-box-flex 1
  flex 1
  //margin-bottom -1px
  position relative
  overflow auto
  pointer-events none
.thirdPane
  //display -webkit-box
  display flex
  webkit-box-orient vertical
  webkit-box-align stretch
  //-webkit-box-flex 1
  flex 1
  margin-bottom -1px
  position relative
  pointer-events none
  //flex-flow row wrap
  //justify-content center
  //align-content center
  //Maybe this is needed?
  //overflow auto
  //padding-bottom 10px
  //overflow auto
  //-webkit-overflow-scrolling touch
  //transform translate3d(0,0,0)
.content
  position absolute
  top 0
  //right 170px
  right 0
  bottom 0
  left 0
  //left 170px
  overflow hidden
  height 100%
  //margin-right 170px
  //margin-left 170px
  //height 10000px
.title
  justify-content center
  padding 20px 40px 20px 40px
  line-height 1
  futura()
  font-size 24px
  color offGray()
  display flex
  flex 1 80px
  min-height 80px
  max-height 80px
  align-items center
  position relative
.inlineForm
  position absolute
  top 0
  left 0
  min-height inherit
  max-height inherit
  width 100%
  &[data-state="hidden"]
    opacity 0
    transform scale3d(0,0,0)
.inlineFormInputWrapper
  min-height inherit
  max-height inherit
.inlineFormInput
  font-family inherit
  font-weight inherit
  font-size inherit
  text-transform inherit
  color inherit
  background transparent
  min-height inherit
  max-height inherit
  width 100%
.inlineFormSubmit
  opacity 0
  pointer-events none
  height 0
  width 0
  margin 0
  padding 0

//Browsea
.browse
  background white()
  display flex
  justify-content center
  align-content center
  //align-items center
  //flex-flow row wrap
  flex-direction column
  flex 1
  z-index 1
  pointer-events auto
.tiles
  display flex
  flex-flow row wrap
  justify-content center
  //align-content center
  align-items center
  //flex 1 100%
.tile
  //width 300px
  //height 210px
  //float left
  margin-right 20px
  margin-bottom 50px
  margin-left 20px
  cursor pointer
  //position relative
  flex 1 0 300px
  max-width 300px

  .preview
    //width 300px
    height 169px
    background-color midnight()
    background-size cover
    border-radius 4px
  .title
    justify-content flex-start
    font-size 14px
    padding 0
    min-height 30px
    max-height 30px
    text-align left
  .subtitle
    font-size 12px
    futura()
    text-align left
    line-height 14px
    color offerGray()

#fileUploader
  position absolute
  visibility hidden
  opacity 0
.player
  position absolute
  top 0
  right 0
  bottom 0
  left 0
  overflow hidden
  background black
  pointer-events auto
  .logo
    width 80px
    height 80px
    position absolute
    top 50%
    left 50%
    //margin-top -50px
    margin-top -40px
    margin-left -40px
    opacity 0.2
.videoWrapper
  position relative
  overflow hidden
  background black
.video
  width 100%
  background black
  z-index 2
  background-size contain
  background-repeat no-repeat
//Maintain the 16:9 aspect ratio for video
.banner
.cover
  position relative
  width 100%
  background-size contain
  background-repeat no-repeat
  &:before
    content ""
    display block
    padding-top 56.25%
    margin-bottom -56.25%
  &.contentCover
    background-size cover
    background-position 50% 50%
.play
  size(60,60)
  border-radius 120px
  background white()
  position absolute
  top 50%
  right 0
  left 0
  z-index 1
  margin -30px auto 0 auto
  cursor pointer

//Cover
.cover
  display flex
  align-items center
  justify-content center
  z-index 1
  transform scale3d(0,0,0)
  transition opacity 300ms ease-in-out, transform 300ms ease-in-out
  pointer-events none
  text-align center
  &[data-state="active"]
    opacity 1
    transform scale3d(1,1,1)
    pointer-events auto
.coverContent
  width 300px
  position relative
  //display flex
  //justify-content center
  //align-items center
  .serverMessage
    position relative
    top -5px
    position absolute
    top 60px
    right 0
    left 0
    opacity 0
    transform scale3d(0,0,0)
    transition opacity 300ms ease-in-out, transform 300ms ease-in-out
    &[data-state="active"]
      opacity 1
      transform scale3d(1,1,1)
  .coverMessage
    position absolute
    top 50%
    right 0
    left 0
    //margin-top -70px
    //height 140px
    margin-top -55px
    height 110px
    opacity 0
    transform scale3d(0,0,0)
    transition opacity 300ms ease-in-out, transform 300ms ease-in-out
    &[data-state="active"]
      opacity 1
      transform scale3d(1,1,1)
    .serverMessage
      position absolute
      right 0
      bottom 0
      left 0
    .title
      padding 0
      min-height 40px
      max-height 40px
      margin-top 20px
    .coverMessageIcon
      width 80px
      height 80px
      position relative
      margin 0 auto
      .iconFill
        fill midnight(0.85)
  .coverInfoWrapper
    position absolute
    top 50%
    left 50%
    transform translate3d(-50%,-50%,0) //Vertically center elements that have dynamic heights
    pointer-events none
  .coverInfo
    position relative
    opacity 0
    transform scale3d(0,0,0)
    pointer-events none
    transition opacity 300ms ease-in-out, transform 300ms ease-in-out
    &[data-state="active"]
      opacity 1
      transform scale3d(1,1,1)
      pointer-events auto
  .coverForm
    width 240px
    margin 0 auto
    .coverFormInputWrapper
      margin-top -10px
      transition transform 300ms ease-in-out
      &:first-of-type
        margin-top 0
      &.first[data-state="error"]
        & + .second[data-state="error"]
          transform translate3d(0,20px,0)
          & + .third
            transform translate3d(0,40px,0)
        & + .second
          transform translate3d(0,20px,0)
          & + .third
            transform translate3d(0,20px,0)
      &.second[data-state="error"]
        & + .third
          transform translate3d(0,20px,0)
    .coverFormInput
      width 100%
      height 40px
      padding 10px 20px 10px 20px
      background midnight(0.85)
      color white(0.9)
      border-radius 40px
      font-size 14px
    .coverFormInput::-webkit-input-placeholder
      color white(0.5)
    .coverFormMessage
      height 20px
      line-height 24px
      font-size 12px
      opacity 0
      transform scale3d(0,0,0)
      transition opacity 300ms ease-in-out, transform 300ms ease-in-out
      &[data-state="active"]
        opacity 1
        transform scale3d(1,1,1)
    .coverFormSubmit
      opacity 0
      pointer-events none
      height 0
      width 0
      margin 0
      padding 0

//About
.contentAbout
.profileAbout
  //border-top 1px solid offWhite()
  //background white()
  //background red
  width 100%
  height 100%
  //height 10000px
  //position relative
  //margin-top 80%
  //margin-top 56.25%
  margin-top 50%
  position relative
  //top 80%
  z-index 3
  transition margin-top 300ms ease-in-out
  color midnight(0.8)
  pointer-events auto
  &[data-playing="true"]
    margin-top 56.25%
  .title
    justify-content flex-start
    padding 0
    max-width 600px
    margin 0 auto
  .author
    max-width 600px
    margin 0 auto
  .description
    max-width 600px
    margin 0 auto

.pane
  margin-bottom 200px
  padding-top 20px
  padding-right 40px
  //padding-bottom 100px
  padding-bottom 40px
  //padding-bottom 20px
  padding-left 40px
  background white()
  /*&:first-of-type
    margin-top 0*/
.profileAbout
  display flex
  justify-content center
  align-content center
  //align-items center
  //flex-flow row wrap
  flex-direction column
  flex 1
  z-index 1
  .browse
    .title
      justify-content center
    .tiles
      .title
        justify-content flex-start
/*.creations
  //margin-top 100px
  margin-top 20px
  background white()
  flex 1 100%*/
.author
  futura()
  font-size 14px
  text-transform uppercase
  text-align left
  color midnight(0.40)
.description
  padding-top 10px
  font-size 16px
  color midnight(0.80)

.slider
  transition transform 300ms ease-in-out

//Community
.community
  background white()
  width 100%
  position absolute
  top 0
  bottom 0
  z-index 2
  pointer-events auto
  .section
    futura()
    text-align left
    color midnight(0.25)
    padding-right 20px
    padding-left 40px
    position relative
    top 15px
.currentTopic
  height 100%
  width 60%
  overflow-x hidden
  overflow-y auto
  float left
  padding-bottom 40px
  .topic
    padding-top 20px
    padding-right 20px
    //padding-bottom 20px
    padding-left 40px
    //border-bottom 1px solid offWhite()
    color midnight(0.80)
    position relative
    overflow hidden
    //background purple
    //opacity 1
    //transition opacity 300ms ease-in-out
    .editor
      transition color 300ms ease-in-out
      &:hover,&:focus
        color midnight()
    &:first-of-type
      background midnight()
      padding-bottom 20px
      .avatar
        background white(0.65)
      .title
        color white(0.6)
      .author
        color white(0.40)
      .description
        color white(0.7)
      .editor
        &:hover,&:focus
          color white()
    .bounds
      width 100%
      max-width 840px
      float right
      //position relative
    .avatar
      background midnight(0.85)
      size(40,40)
      border-radius 40px
      position absolute
      margin-top 10px
      background-size cover
      background-position 50% 50%
    .title
      justify-content flex-start
      text-transform none
      padding-top 10px
      padding-right 10px
      padding-bottom 10px
      padding-left 0
      color midnight(0.85)
      min-height 50px
      max-height 50px
      align-items flex-end
      text-align left
      background transparent
      width 100%
    .author
      futura()
      font-size 12px
      text-align left
      color midnight(0.4)
      margin-bottom 5px
      padding-left 50px
      line-height 1.5
      margin-top 10px
    .description
      padding-top 0
      padding-left 50px
      font-size 16px
      color midnight(0.6)
      p
        margin-top 10px
        margin-bottom 10px
        &:first-of-type
          margin-top 0
        &:last-of-type
          margin-bottom 0
.topics
  height 100%
  width 40%
  overflow-x hidden
  overflow-y auto
  float left
  border-left 1px solid offWhite()
  padding 20px
  position relative
  z-index 1
  .topic
    width 100%
    max-width 420px
    height auto
    cursor pointer
    margin-bottom 30px
    position relative
    &:hover
      .title
        color midnight(0.85)
      .avatar
        opacity 0.85
      .author
        color midnight(0.4)
      .description
        color midnight(0.95)
    .title
      font-size 16px
      color midnight(0.4)
      text-transform none
      justify-content flex-start
      padding 0
      line-height 1.5
      margin-bottom 10px
      min-height 20px
      max-height 20px
      text-align left
      transition color 300ms ease-in-out
    .avatar
      size(40,40)
      border-radius 40px
      background-color midnight()
      opacity 0.4
      background-size cover
      background-position 50% 50%
      position absolute
      transition opacity 300ms ease-in-out
    .author
      futura()
      font-size 10px
      text-align left
      text-transform uppercase
      color midnight(0.25)
      padding-left 50px
      margin-bottom 5px
      transition color 300ms ease-in-out
    .description
      padding-top 0
      padding-left 50px
      color midnight(0.5)
      transition color 300ms ease-in-out

//Editor
.editor
  //background red
  /*p
    margin-top 10px
    margin-bottom 10px
    &:first-of-type
      margin-top 0*/
  br
    height 40px
    background blue
  .editorContent
    width 100%
    height 728px
    background-color green
    background-size cover

//Click Menu
.clickMenu
  position absolute
  top 0
  left 0
  z-index 999
  pointer-events none
  transform translate3d(0,0,0)
  -webkit-backface-visibility hidden
  transition transform 50ms ease-in-out
  .node
    size(40,40)
    position absolute
    top 0
    right 0
    bottom 0
    left 0
    z-index 99
    transition opacity 100ms ease-out, transform 100ms ease-out
    opacity 0
    transform translate3d(0,0,0)
    cursor pointer
    .node
      opacity 0
    &.origin
      transition opacity 100ms ease-out 100ms, transform 100ms ease-out 100ms
      pointer-events none
      .dot
        transition opacity 100ms ease-out 100ms, transform 100ms ease-out 100ms
        .dotInner
          size(40,40)
          border-radius 40px
          background midnight(0.9)
          position absolute
          top 50%
          left 50%
          margin -20px auto auto -20px
          transition transform 400ms ease-out
          transform-origin 50% 50%
          transform scale3d(0.2,0.2,0.2)
    &.inner
      .dot
        &:after
          content ""
          position absolute
          right 0
          bottom -12px
          left 0
          //background red
          height 12px
          width 100%
    .dot
      size(40,40)
      border-radius 40px
      border 2px solid midnight(0.85)
      background white(0.9)
      position absolute
      top 0
      right 0
      bottom 0
      left 0
      transition opacity 100ms ease-out 100ms, transform 100ms ease-out 100ms
      transform scale3d(0,0,0)
      .dotInner
        size(32,32)
        margin 2px
        background midnight(0.9)
        transition width 100ms ease-out, height 100ms ease-out, border-radius 100ms ease-out
        overflow hidden
        //futura()
        //line-height 38px
        //font-size 24px
        border-radius 40px
        //color midnight(0.8)
        padding-right 20px
        position absolute
        .iconWrapper
          position absolute
          size(32,32)
          .icon
            padding 8px
        .title
          display block
          font-size 14px
          height 32px
          line-height 33px
          padding 0
          padding-left 32px
          color white()
          transition opacity 100ms ease-out
          opacity 0
          text-align left
          position absolute
  &.activated
    pointer-events auto
    cursor pointer
    & > .node
      opacity 1
      transition opacity 100ms ease-out 400ms, transform 100ms ease-out 400ms
      &.origin
        transition opacity 100ms ease-out, transform 100ms ease-out
        .dot
          transition opacity 100ms ease-out, transform 100ms ease-out
      &.top
        transform translate3d(0,-80px,0)
        //transition opacity 100ms ease-out 400ms, transform 100ms ease-out 400ms
        &.right
          transform translate3d(60px,-60px,0)
          //transition opacity 100ms ease-out 650ms, transform 100ms ease-out 650ms
        &.left
          transform translate3d(-60px,-60px,0)
          //transition opacity 100ms ease-out 950ms, transform 100ms ease-out 950ms
      &.right
        transform translate3d(80px,0,0)
        //transition opacity 100ms ease-out 700ms, transform 100ms ease-out 700ms
      &.bottom
        transform translate3d(0,80px,0)
        //transition opacity 100ms ease-out 800ms, transform 100ms ease-out 800ms
        &.right
          transform translate3d(60px,60px,0)
          //transition opacity 100ms ease-out 750ms, transform 100ms ease-out 750ms
        &.left
          transform translate3d(-60px,60px,0)
          //transition opacity 100ms ease-out 850ms, transform 100ms ease-out 850ms
      &.left
        transform translate3d(-80px,0,0)
        //transition opacity 100ms ease-out 900ms, transform 100ms ease-out 900ms
      &.origin
        .dotInner
          transform scale3d(1,1,1)
      &.hovered
        &[data-action="browse"]
          .dot
            width 120px
            .dotInner
              width 112px
        &[data-action="account"]
          .dot
            width 130px
            .dotInner
              width 122px
        &[data-action="signup"]
          .dot
            width 110px
            .dotInner
              width 102px
        &[data-action="login"]
          .dot
            width 110px
            .dotInner
              width 102px
        &[data-action="create"]
          .dot
            width 144px
            .dotInner
              width 136px
        &[data-action="contentAbout"]
          .dot
            width 108px
            .dotInner
              width 100px
        &[data-action="contentCommunity"]
          .dot
            width 148px
            .dotInner
              width 140px
        &[data-action="profileAbout"]
          .dot
            width 178px
            .dotInner
              width 170px
        &[data-action="profileCommunity"]
          .dot
            width 148px
            .dotInner
              width 140px
        &[data-action="play"]
          .dot
            width 98px
            .dotInner
              width 90px
        &[data-action="fund"]
          .dot
            width 98px
            .dotInner
              width 90px
        &[data-action="follow"]
          .dot
            width 118px
            .dotInner
              width 110px
        .title
          opacity 1
        .node
          opacity 1
          transform scale3d(1.1,1.1,1.1)
          &.top
            &.first
              transform translate3d(0,-50px,0)
            //transition opacity 100ms ease-out 400ms, transform 100ms ease-out 400ms
            &.second
              transform translate3d(0,-100px,0)
          &.right
            transform translate3d(80px,0,0)
            //transition opacity 100ms ease-out 700ms, transform 100ms ease-out 700ms
          &.bottom
            transform translate3d(0,80px,0)
            //transition opacity 100ms ease-out 800ms, transform 100ms ease-out 800ms
            &.right
              transform translate3d(60px,60px,0)
              //transition opacity 100ms ease-out 750ms, transform 100ms ease-out 750ms
            &.left
              transform translate3d(-60px,60px,0)
              //transition opacity 100ms ease-out 850ms, transform 100ms ease-out 850ms
          &.left
            transform translate3d(-80px,0,0)
            //transition opacity 100ms ease-out 900ms, transform 100ms ease-out 900ms
          //Text specific styles (We do this because we can't animate width)
          /*&.hovered
            .dotInner
              background blue*/

          //opacity 1
      .dot
        transition transform 100ms ease-out, width 100ms ease-out, height 100ms ease-out, border-radius 100ms ease-out
        transform scale3d(1,1,1)

//Icons
.icon
  position absolute
  top 0
  right 0
  width 100%
  height 100%
  overflow visible
  .iconFill
    fill white()

//Clapper Icon Styles
.clapper
  transform-origin bottom left
  transition transform 300ms ease-in-out
  transform rotateZ(-20deg)
  &[data-state="closed"]
    transform rotateZ(0deg)
