@import "nib"
@import "variables"

html, body
  margin 0
  padding 0
  height 100%
  min-width 320px
  overflow hidden
body
  width 100%
  height 100%
  user-select none
  //border-top 20px solid white()
  display -webkit-box
  -webkit-box-orient vertical
  -webkit-box-align stretch
  -webkit-box-flex 1
  &:after
    content ""
    //background white()
    height 20px
    position absolute
    top 0
    right 0
    left 0
    z-index 100
  avenir()
*
  webkit-user-drag none
  box-sizing border-box

.clickable
  transition opacity 100ms ease-in-out, transform 100ms ease-in-out
  &[data-state="focused"]
    opacity 0.8
    transform scale3d(1.1,1.1,1.1)
  &[data-state="blurred"]
    opacity 0.2
    transform scale3d(0.8,0.8,0.8)

.firstPane
  display -webkit-box
  -webkit-box-orient vertical
  -webkit-box-align stretch
  -webkit-box-flex 1
  -webkit-overflow-scrolling touch
  overflow auto
  position relative
  z-index 1
.secondPane
  display -webkit-box
  -webkit-box-orient vertical
  -webkit-box-align stretch
  -webkit-box-flex 1
  -webkit-overflow-scrolling touch
  overflow auto
.thirdPane
  display -webkit-box
  -webkit-box-orient vertical
  -webkit-box-align stretch
  -webkit-box-flex 1
  margin-bottom -1px
  position relative

.sidebar
  position fixed
  top 0
  bottom 0
  width 170px
  //background midnight()
  //color white()
  color midnight()
  overflow-y scroll
  overflow-x hidden
  &.right
    right 0
    border-left 1px solid offWhite()
  &.left
    left 0
    border-right 1px solid offWhite()
  .create
    size(170,170)
    //background gray()
    border-bottom 1px solid offWhite()
  .title
    padding-left 10px
    padding-right 10px
    futura()
    color offGray()
    font-size 10px
    text-align left
  .logo
    margin-bottom 10px
    padding 0 10px 0 50px
    height 50px
    line-height 50px
    display block
    futura()
    font-size 18px
    text-align left
    .icon
      size(30,30)
      border-radius 30px
      position absolute
      top 10px
      left 10px
      //background white()
      background midnight()
  .list
    margin-bottom 20px
    .item
      .link
        padding-left 34px
        padding-right 10px
        position relative
        font-size 14px
        height 30px
        line-height 30px
        display block
        &:hover
          background gray()
          color offWhite()
          .icon
            & > *
              fill offWhite()
              stroke offWhite()
        .icon
          position absolute
          top 7px
          left 10px
          size(16,16)
          //background white()
          background midnight()
          border-radius 16px
.content
  position absolute
  top 0
  //right 170px
  right 0
  bottom 0
  left 0
  //left 170px
  overflow hidden
  height 100%
  //margin-right 170px
  //margin-left 170px
  //height 10000px
.title
  //text-align center
  padding 10px 40px 0 40px
  line-height 1.5
  futura()
  font-size 24px
  color offGray()
.tiles
  width 940px
  //height 2000px
  margin 0 auto
  padding-right 5px
  padding-left 5px
.tile
  width 300px
  height 210px
  float left
  margin-top 10px
  margin-right 5px
  margin-left 5px
  cursor pointer
  .preview
    width 300px
    height 169px
    background midnight()
    border-radius 4px
  .title
    font-size 14px
    padding 0
    line-height 20px
    text-align left
  .subtitle
    font-size 12px
    futura()
    text-align left
    line-height 14px
    color offerGray()

.toggle
  size(16,16)
  border-radius 16px
  position absolute
  top 17px
  z-index 3
  background midnight()
  cursor pointer
  &.left
    left 10px
  &.right
    right 10px
.scroller
  position absolute
  top 0
  bottom 0
  width 100%
  overflow-x hidden
  overflow-y auto

.player
  position absolute
  top 0
  right 0
  left 0
.video
  width 100%
  background black
  z-index 2
.play
  size(60,60)
  border-radius 120px
  background white()
  position absolute
  top 50%
  right 0
  left 0
  z-index 1
  margin -30px auto 0 auto
  cursor pointer

//Browse
.browse
  background white()
  position relative
  z-index 1

//About
.about
  border-top 1px solid offWhite()
  background white()
  width 100%
  //height 10000px
  position relative
  margin-top 50%
  z-index 3
  transition margin-top 300ms ease-in-out
  padding-top 20px
  padding-right 40px
  padding-bottom 20px
  padding-left 40px
  color midnight(0.8)
  .title
    text-align left
    padding 0
  .author
    futura()
    font-size 14px
    text-transform uppercase
    text-align left
    color midnight(0.40)
  .description
    padding-top 10px
    font-size 16px
    color midnight(0.80)

//Community
.community
  background white()
  width 100%
  position absolute
  top 0
  bottom 0
  z-index 2
  .section
    futura()
    text-align left
    color midnight(0.25)
    padding-right 20px
    padding-left 40px
    position relative
    top 15px
.currentTopic
  height 100%
  width 70%
  overflow-x hidden
  overflow-y auto
  float left
  padding-bottom 40px
  .topic
    padding-top 20px
    padding-right 20px
    //padding-bottom 20px
    padding-left 40px
    //border-bottom 1px solid offWhite()
    color midnight(0.80)
    position relative
    opacity 1
    transition opacity 300ms ease-in-out
    &:last-child
      border-bottom 0
    &:last-of-type
      //padding-bottom 20px
    .avatar
      background midnight(0.85)
      size(40,40)
      border-radius 40px
      position absolute
      margin-top 10px
    .title
      text-align left
      text-transform none
      padding-right 10px
      padding-left 0
      color midnight(0.85)
    .author
      futura()
      font-size 12px
      text-align left
      color midnight(0.40)
      margin-bottom 5px
      padding-left 50px
      line-height 1.5
      margin-top 10px
    .description
      padding-left 50px
      font-size 16px
.topics
  height 100%
  width 30%
  overflow-x hidden
  overflow-y auto
  float left
  border-left 1px solid offWhite()
  padding 20px
  position relative
  z-index 1
  .topic
    width 100%
    height auto
    cursor pointer
    margin-bottom 30px
    position relative
    &:hover
      .title
        color midnight(0.85)
      .avatar
        background midnight(0.85)
      .author
        color midnight(0.4)
      .description
        color midnight(0.95)
    .title
      font-size 16px
      color midnight(0.4)
      text-transform none
      text-align left
      padding 0
      line-height 1.5
      margin-bottom 10px
    .avatar
      size(40,40)
      border-radius 40px
      background midnight(0.4)
      position absolute
    .author
      futura()
      font-size 10px
      text-align left
      text-transform uppercase
      color midnight(0.25)
      padding-left 50px
      margin-bottom 5px
    .description
      padding-left 50px
      color midnight(0.5)

//Tiles Media Queries -> No Sidebars Open
//One Column
@media all and (min-width: 320px) and (max-width: 630px)
  .tiles
    //background blue
    width 320px
//Two Column
@media all and (min-width: 630px) and (max-width: 940px)
  .tiles
    //background red
    width 630px
//Three Column
@media all and (min-width: 940px) and (max-width: 1250px)
  .tiles
    //background green
    width 940px
//Four Column
@media all and (min-width: 1250px) and (max-width: 1560px)
  .tiles
    //background pink
    width 1250px
//Five Column
@media all and (min-width: 1560px) and (max-width: 1870px)
  .tiles
    //background purple
    width 1560px
//Six Column
@media all and (min-width: 1870px) and (max-width: 2180px)
  .tiles
    //background yellow
    width 1870px
//Seven Column
@media all and (min-width: 2180px) and (max-width: 2490px)
  .tiles
    //background orange
    width 2180px
//Eight Column
@media all and (min-width: 2490px) and (max-width: 2800px)
  .tiles
    //background brown
    width 2490px
//Nine Column
@media all and (min-width: 2800px) and (max-width: 3110px)
  .tiles
    //background aqua
    width 2800px
//Ten Column
@media all and (min-width: 3110px) and (max-width: 3420px)
  .tiles
    //background lime
    width 3110px

//Click Menu
.clickMenu
  position absolute
  top 0
  left 0
  z-index 999
  pointer-events none
  transform translate3d(0,0,0)
  -webkit-backface-visibility hidden
  transition transform 50ms ease-in-out
  .node
    size(40,40)
    position absolute
    top 0
    right 0
    bottom 0
    left 0
    //border-radius 40px
    //border 2px solid midnight()
    //background transparent
    z-index 99
    transition opacity 100ms ease-out, transform 100ms ease-out
    opacity 0
    transform translate3d(0,0,0)
    cursor pointer
    &.origin
      transition opacity 100ms ease-out 100ms, transform 100ms ease-out 100ms
      pointer-events none
      .dot
        transition opacity 100ms ease-out 100ms, transform 100ms ease-out 100ms
        .inner
          size(40,40)
          border-radius 40px
          background midnight(0.9)
          position absolute
          top 50%
          left 50%
          margin -20px auto auto -20px
          transition transform 400ms ease-out
          transform-origin 50% 50%
          transform scale3d(0.2,0.2,0.2)
    .dot
      size(40,40)
      border-radius 40px
      border 2px solid midnight(0.85)
      background white(0.9)
      position absolute
      top 0
      right 0
      bottom 0
      left 0
      transition opacity 100ms ease-out 100ms, transform 100ms ease-out 100ms
      transform scale3d(0,0,0)
      .inner
        size(32,32)
        margin 2px
        background midnight(0.9)
        transition width 100ms ease-out
        overflow hidden
        //futura()
        //line-height 38px
        //font-size 24px
        border-radius 40px
        //color midnight(0.8)
        position absolute
        .iconWrapper
          position absolute
          size(32,32)
          .icon
            padding 8px
        .title
          font-size 14px
          height 32px
          line-height 33px
          padding 0
          padding-left 32px
          color white()
          transition opacity 100ms ease-out
          opacity 0
          text-align left
  &.activated
    pointer-events auto
    cursor pointer
    .node
      opacity 1
      transition opacity 100ms ease-out 400ms, transform 100ms ease-out 400ms
      &.hovered
        z-index 999
        &[data-action="fund"]
          .dot
            width 92px
            .inner
              width 84px
              .title
                opacity 1
        &[data-action="browse"]
          .dot
            width 114px
            .inner
              width 106px
              .title
                opacity 1
        &[data-action="play"]
          .dot
            width 90px
            .inner
              width 82px
              .title
                opacity 1
        &[data-action="create"]
          .dot
            width 106px
            .inner
              width 98px
              .title
                opacity 1
        &[data-action="addMedia"]
          .dot
            width 132px
            .inner
              width 124px
              .title
                opacity 1
        &[data-action="addPoll"]
          .dot
            width 122px
            .inner
              width 114px
              .title
                opacity 1
        &[data-action="edit"]
          .dot
            width 86px
            .inner
              width 78px
              .title
                opacity 1
        &[data-action="follow"]
          .dot
            width 112px
            .inner
              width 104px
              .title
                opacity 1
      &.origin
        transition opacity 100ms ease-out, transform 100ms ease-out
        .dot
          transition opacity 100ms ease-out, transform 100ms ease-out
      &.top
        transform translate3d(0,-80px,0)
        //transition opacity 100ms ease-out 400ms, transform 100ms ease-out 400ms
        &.right
          transform translate3d(60px,-60px,0)
          //transition opacity 100ms ease-out 650ms, transform 100ms ease-out 650ms
        &.left
          transform translate3d(-60px,-60px,0)
          //transition opacity 100ms ease-out 950ms, transform 100ms ease-out 950ms
      &.right
        transform translate3d(80px,0,0)
        //transition opacity 100ms ease-out 700ms, transform 100ms ease-out 700ms
      &.bottom
        transform translate3d(0,80px,0)
        //transition opacity 100ms ease-out 800ms, transform 100ms ease-out 800ms
        &.right
          transform translate3d(60px,60px,0)
          //transition opacity 100ms ease-out 750ms, transform 100ms ease-out 750ms
        &.left
          transform translate3d(-60px,60px,0)
          //transition opacity 100ms ease-out 850ms, transform 100ms ease-out 850ms
      &.left
        transform translate3d(-80px,0,0)
        //transition opacity 100ms ease-out 900ms, transform 100ms ease-out 900ms
      &.origin
        .inner
          transform scale3d(1,1,1)
      .dot
        transition transform 100ms ease-out, width 100ms ease-out
        transform scale3d(1,1,1)

//Icons
.icon
  position absolute
  top 0
  right 0
  width 100%
  height 100%
  .iconFill
    fill white()
